<?xml version="1.0"?>
<model>
  <name>livox_mid360_sensor</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>yuan</name>
    <email>yuan@todo.todo</email>
  </author>
  <description>Followed Livox Mid-360 ray sensor model for Gazebo Classic.</description>
</model>
