<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="livox_mid360">
    <xacro:macro name="LivoxMid360" params="connected_to lidar_name:='livox_mid360' xyz:='0.18 0 0.03' rpy:='0 0 0' topic:='/livox/lidar'">
        <joint name="${lidar_name}_joint" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <parent link="${connected_to}"/>
            <child link="${lidar_name}"/>
        </joint>

        <link name="${lidar_name}">
            <inertial>
                <mass value="0.265"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.00012" ixy="0" ixz="0" iyy="0.00012" iyz="0" izz="0.00012"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://livox_laser_simulation/meshes/livox_mid-360-90x.dae" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.065 0.065 0.07"/>
                </geometry>
            </collision>
        </link>

        <gazebo reference="${lidar_name}">
            <material>Gazebo/DarkGrey</material>
        </gazebo>

        <gazebo reference="${lidar_name}_joint">
            <disableFixedJointLumping>true</disableFixedJointLumping>
        </gazebo>
    </xacro:macro>
</robot>
